.small-12.columns#new-game-form
  = simple_form_for @game do |f|
    = f.association :teams,
        label: 'Pick the matchup',
        include_hidden: false,
        collection: @teams,
        as: :check_boxes,
        label_method: :team_name,
        input_html: {class: 'team-option'},
        required: true

    = f.button :submit,
    id: 'submit-new-game'